@charset "UTF-8";
table{
    border-collapse:collapse;
    margin: auto;
}

div{
    display: inline-block;
    background-color: red;
    height: 200px;
    width: 200px;
    margin-inline: -2px;
    margin-block: -4px;
    border: 1px solid white;

    position: relative;
}

.azul{
    background-color: rgb(0,238,255);
}

.verde{
    background-color: rgb(0,255,0);
}

.amarelo{
    background-color: rgb(255,255,0);
}

.borda{
    border: 1px solid black;
    z-index: 1;
}